:root
{
    --frame:10px;
    --pillar-color:#000;
}

body
{
    margin:0;
    padding:0;
    background:#000;
    width: 100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: url(326448-P9J98W-210.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-family:Arial, sans-serif;
    color:aliceblue;
    font-size:20px;
}

section.background 
{
    position:relative;
    box-sizing: border-box;
    display: flex;
    flex:80%;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 420px;
    margin:auto;
    padding:auto;
    height:100vh;
    width:840px;
    bottom:0;    
}

.sceleton
{

    display:flex;
    box-sizing: border-box;
    justify-content: center;
    margin: 0;
    padding: auto;
    height: calc(100vh - 50%);
    /*background: rgba(0,0,0,0.2);*/
}


.sceleton::after
{
    content:"";
    position: relative;
    box-sizing: border-box;
    height:100%;
    width:100%;
    bottom:0;
    border-right:var(--frame) solid #909090;
    border-top:var(--frame) solid #909090;
    border-top-right-radius: 10px;
    filter:drop-shadow(0px 2px 5px rgba(0,0,0,0.7));
}
.sceleton:first-child::after
{
    height:100%;    /*Główny słup*/
    top:30%;
    z-index: 1;
    
}
.sceleton:nth-child(2)::after
{
    z-index:2;
}
.sceleton:nth-child(3)::after,
.sceleton:nth-child(4)::after
{
    border-right: transparent;
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    right:var(--frame);
    top:50%;
}
.sceleton:nth-child(4)::after
{
    height:45%;
}

/*Szkielet informacji oraz ikonek*/
.frame
{
    position:absolute;
    width:421.5px;
    height:300px;
    background:transparent;
}
.sceleton:first-child .frame
{

    top:15%
}
.sceleton:nth-child(3) .frame
{
    top:25%;
}
.sceleton:nth-child(4) .frame
{
    bottom: 22px;
    height:218px;
}

/*Ikonki*/
.icon
{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width: 50px;
    background:#FF0000;
    border:3px solid #AA0000;
    border-radius:50%;
    top:  calc( -25px + (0.5 * var(--frame)));
    left:-30px;
    z-index:3;
}

/*Kolor kółeczek*/
.sceleton:first-child .frame .back-info
{
    background:#FF0000;
    border-color: #AA0000;

}

.sceleton:nth-child(2) .frame .icon,
.sceleton:nth-child(2) .frame .back-info
{
    background:#00BFFF;
    border-color:#007AAA;
}
.sceleton:nth-child(3) .frame .icon,
.sceleton:nth-child(3) .frame .back-info
{
    background: #00EE11;
    border-color:#009900;
}
.sceleton:last-child .frame .icon,
.sceleton:last-child .frame .back-info
{
    background: #FFAA00;
    border-color:#AA6600;
    
}

/*Drop Shadow*/
.sceleton:first-child .frame .icon,
.sceleton:nth-child(2) .frame .icon
{
    filter:drop-shadow(-3px 2px 7.5px rgba(0,0,0,0.7));
}
.sceleton:nth-child(3) .frame .icon,
.sceleton:nth-child(4) .frame .icon
{
    left:calc(100% - 30px);
    filter: drop-shadow(3px 2px 7.5px rgba(0,0,0,0.7));
}

.fa
{
    transform: scale(1.3);
}

/*Tabliczki, Informacje, treść*/
.back-info
{
    position: relative;
    box-sizing: border-box;
    height:60%;
    width: 75%;
    top:-10%;
    left: 10%;
    background: rgba(0,0,0,0.72);
    border: 3px solid black;
    border-radius:5px;
    box-shadow: 0px 3px 25px rgba(0,0,0,0.7);
}

.back-info::before
{
    content: "";
    display: block;
    position: absolute;
    height:10%;
    width:70%;
    left:15%;
    top:-10%;
    border-right: var(--frame) solid #909090;
    border-left: var(--frame) solid #909090;
}

.sceleton:nth-child(4) .frame .back-info::before
{
    height:24%;
    top:-24%;
}

.info
{
    position: absolute;
    box-sizing: border-box;
    width:100%;
    height:100%;
    padding:5px 10px;
    color:white;
    font-size:20px;
    overflow: hidden;
}
